body{

	background-image: url('stars.gif');
}

.jupiter{
	position: absolute;
    top: 15%;
    left: 48%;
    width: 12%;
    height: auto;
    margin:-60px 0 0 -60px;

}

.mars{
	position: absolute;
    top: 26%;
    left: 32%;
    width: 3.4%;
    height: auto;
    margin:-60px 0 0 -60px;
}

.earth{
	position: absolute;
    top: 25.5%;
    left: 24%;
    width: 4%;
    height: auto;
    margin:-60px 0 0 -60px;
}

.venus{
	position: absolute;
    top: 25.5%;
    left: 17%;
    width: 3.9%;
    height: auto;
    margin:-60px 0 0 -60px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";	
}

.mercury{
	position: absolute;
    top: 27.5%;
    left: 12%;
    width: 2%;
    height: auto;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.saturn{
	position: absolute;
	top: 20%;
	left: 62%;
	width: 16.5%;
	height: auto;
	margin:-60px 0 0 -60px;
}

.uranus{
	position: absolute;
    top: 20%;
    left: 80.5%;
    width: 7.5%;
    height: auto;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.neptune{
	position: absolute;
    top: 16.4%;
    left: 89%;
    width: 11.5%;
    height: auto;
    margin:-60px 0 0 -60px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.asteroid{
	position: absolute;
    top: 20%;
    left: 36%;
    width: 8%;
    height: auto;
    margin:-60px 0 0 -60px;
    -webkit-animation: rightToLeft 4s infinite;
  }

  @-webkit-keyframes rightToLeft{
  	0% {left: 37%;}
  	50% {left: 35%;}
  	100% {left: 37%;}
  }



